@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Libre+Baskerville:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* html,
body,
#root
{
  font-family: 'DM Sans', sans-serif;
    width: 100%;
    height: 100%;
}
*/

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} 

/* .scene_container {
  width: 100%;
  height: 100vh;
  background: radial-gradient(circle at center, #545454, #000);
  color: #ffffff;
}

.pages {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 3;
  overflow: hidden;
} */

html,
body,
#root{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main div::-webkit-scrollbar {
  width: 0;
  display: none;
}

#root .main div{
  -ms-overflow-style: none;
  scrollbar-width: none;
  pointer-events: all;
  touch-action: auto !important;
  -ms-touch-action: auto !important;
}

.main div {
  z-index: 10;
  touch-action: auto;
}
.main {
  background: radial-gradient(circle at center, #545454, #000);
  width: 100%;
  height: 100%;
  position: relative;
  pointer-events: all;
}

.overlay {
  width: 100%;
  height: 100%;
  color: white;
  position: absolute;
  top: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay_text {
  color: inherit;
}
.overlay_explore {
  color: red;

}

